{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "arrowParens": "always",
  "importOrder": [
    "(^react$|^react-native$)",
    "(<THIRD_PARTY_MODULES>|expo-font|^react-native-reanimated|expo-splash-screen|@react-navigation/native|@tanstack/react-query)",
    "^@/navigation",
    "^@/screens",
    "^@/components",
    "^@/constants",
    "^@/types",
    "^@/services",
    "^@/utils",
    "^@/hooks",
    "^@/mocks",
    "^@/contexts",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
